<!doctype html>
<html>
    <head>
        {% if baslik %}
        <title>{{baslik}}</title>
        {% else %}
        <title>Başlık Yok</title>
        {% endif %}
    </head>
    <body>
        <div> Şekerbank Flask:
            <a href="/index">Ana Sayfa</a>
            <a href="/giris">Giriş</a>
        </div>
        <br>
        {% with mesajlar = get_flashed_messages() %}
        {% if mesajlar %}
        <ul>
            {% for mesaj in mesajlar %}
            <li>{{mesaj}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}        
        {% block sayfaici %}
        
        {% endblock sayfaici %}
    </body>
    </html>